.root {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	height: 100%;
	padding: 0 var(--mantine-spacing-md);
}

.brand {
	justify-self: start;
}

.status {
	justify-self: center;
}

.actions {
	justify-self: end;
}
